.heroText {
  text-transform: uppercase;
  color: whitesmoke;
  font-size: 4rem;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  top: 85px;
  z-index: 100;
  letter-spacing: 5px;
  position: relative;
  margin: 25px;
}
.word:nth-child(2n){
  margin-left: 10rem;
}
.word {
  margin-top: 5px;
}
@media all and (max-width: 480px) {
 .heroText {
    font-size: 1.75rem;
  }
  .word:nth-child(2n){
  margin-left: 5rem;
}
}