
div p a {
  color: black;
  text-decoration: none;
  transition: color ease .2s;
}
div p a:hover {
  color: lightseagreen;
  text-decoration: none;
}
div .sectionImageLeft {
  margin: 10px;
  min-width: 325px;
  float: left
}
div .sectionImageRight {
  float: right;
  margin: 10px;
  min-width: 325px
}
.header {
  padding: 25px;
  text-align: center;
  font-family: 'DM Serif Display', serif;
}
.content {
   font-family: 'Assistant', sans-serif;
}
@media all and (max-width: 480px) {
  .sectionImage {
    float:none;
  }
  .header h2 {
    font-size: 1.5rem;
  }
  div .sectionImageLeft {
  margin: 0 auto;
  min-width: 0;
  float: none;
}
div .sectionImageRight {
  float: none;
  margin: 0 auto;
  min-width: 0;
}
}
