.cardContainer {
    display: flex;
    flex-grow: 1;
    font-family: 'Assistant', sans-serif;
}
.title {
    text-align: center;
    font-family: 'DM Serif Display', serif;
}
@media all and (max-width: 480px) {
 .item {
    font-size: .85rem;
  }
}
@media screen and (min-width: 900px) {
  .item {
    height: 500px;
  }
}