.splashButton {
  align-self: center;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  transition: background-color 0.5s ease, color 0.2s ease;
  position: relative;
  padding: 10px;
  width: 160px;
  margin-bottom: 20px;
  z-index: 100;
  top: 75px;
}
.splashButton:hover {
  background-color: whitesmoke;
  color: black;
  text-decoration: none;
}
.btnGrp {
  align-self: center;
}